{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #0a4c72:
    --acent-color: #eef6ff;
    --text-light: #ffffff;
    --overlay-light: rgba(255, 255, 0.7);
    --button-hover: #083954;
    --radius: 8px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px,
    display: flex;
}

header img {
    height: 120px;
}

nav a {
    color: var(--text-light);
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    
}

.hero h1 {
    position: absolute
    top: 20%;
    left: 5%;
    color: white;
    background: var(0, 0, 0, 0.5);
    padding: 15px
    font-size: 2.2rem;
    border-radius: 8px;
}

.hero article {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 40%;
    background: var(--over-light);
    padding: 15px;
    border-radius: var(--radius);
}

.hero article img {
    float: right;
    width:120px;
    margin-left: 10px;
    border-radius: var(--radius);

}

.newsletter {
    text-align: center;
    padding: 40px 20px;
}

.newsletter input {
    padding: 10px;
    margin: 5px;
}

.newsletter form {
    display: grid;
    gap: 10px;
    width: 300px;
    margin: auto;
}

.newsletter button {
    padding: 10px;
    background: var(--primary-color);
    color: var(--text-light);
    border: none;
    cursor: pointer;
    border-radius: var(--radius);
}

button:hover {
    background: var(--button-hover);
}

.cta {
    text-align: center;
    padding: 40px;
}

.btn {
    padding: 10px 20px;
    background: #0a4c72;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background: var(--button-hover);
}

.grid-info {
    display: grid;
    grid-template-columns: repeat 1fr 1fr;
    gap: 20px;
    padding: 30px;
}

.grid-info img {
    width: 100%;
    border-radius: 8px;
}

footer {
    background: var(--primary-color);
    color: var(--text-light);
    padding: 20px;
    text-align: center;
}

.socialmedia{
    width: 30px;
    margin: 0 10px;
}
